@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
}

html {
	scroll-behavior: smooth;
}

#portfolio {
	max-width: 1100px;
	padding: 100px 0;
	margin: auto;
}

#portfolio .titulo-seccion {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}

#portfolio .fila {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
    gap: 20px;
}

#portfolio .fila .proyecto {
	max-width: 450px;
	border: 1px solid #000;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
}

#portfolio .fila .proyecto img {
	width: 350px;
	height: 100%;
	filter: grayscale(1);
	object-fit: cover;
	transition: 0.5s;
}

#portfolio .fila .proyecto:hover img {
	filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
	position: absolute;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ff5080;
	width: 100%;
	padding: 10px;
	opacity: 0;
	bottom: -40px;
	transition: 0.5s;
}

#portfolio .fila .proyecto:hover .info {
	opacity: 1;
	bottom: 0;
}
