@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
}

html {
	scroll-behavior: smooth;
}

.contenedor-skills {
	background: linear-gradient(#eb5a5acc, rgba(33, 16, 16, 0.8)),
		url("../../img/fondo-skills.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	background-position: center center;
	padding: 100px 0;
	text-align: center;
}

.contenedor-skills h3{
	font-size: 25px;
}

.contenedor-skills .skill {
	max-width: 600px;
	margin: 30px auto;
}

.contenedor-skills .skill .info {
	display: flex;
	justify-content: space-between;
}

.contenedor-skills .skill .lista {
	display: inline-block;
	margin-right: 20px;
	height: 10px;
	width: 10px;
	background-color: #fff;
}

.ico_container{
	display: flex;
	justify-content: space-evenly;
	cursor: grab;
	flex-wrap: wrap;
}

#ico{
	margin-top: 60px;
	height: 50px;
	width: 50px;
	color: #fff;
	transition: all ease 0.5s;
}

#ico:hover{
	transform: scale(1.5);
}

.contenedor-skills .skill .barra {
	background-color: #919191;
	width: 100%;
	height: 6px;
	margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
	background-color: #fff;
	width: 95%;
	height: 6px;
	animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
	background-color: #fff;
	width: 90%;
	height: 6px;
	animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
	background-color: #fff;
	width: 90%;
	height: 6px;
	animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
	background-color: #fff;
	width: 85%;
	height: 6px;
	animation: progreso4 2s forwards;
}

/* @keyframes progreso1 {
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}

@keyframes progreso2 {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes progreso3 {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}

@keyframes progreso4 {
	0% {
		width: 0;
	}
	100% {
		width: 85%;
	}
} */
