body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}


/* width */
::-webkit-scrollbar {
	width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #FF5080;
	border-radius: 10px;
  }


@media screen and (max-width: 800px) {
	.redes {
		display: none;
	}
	nav {
		display: none;
	}
	nav.responsive {
		display: block;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}
	nav.responsive ul {
		display: block !important;
		text-align: center;
	}
	nav.responsive ul li {
		margin: 5px 0;
	}
	#icono-nav {
		display: block;
	}
	#inicio .contenido .presentacion h2 {
		font-size: 40px;
	}
	/* seccion SOBRE MI */
	#sobremi {
		padding: 50px 0;
		display: block;
	}
	#sobremi .contenedor-foto {
		max-width: 200px;
		margin: auto;
	}
	#sobremi .contenedor-foto img {
		padding: 8px;
	}
	#sobremi .sobremi .titulo-seccion {
		text-align: center;
	}
	#sobremi .sobremi h2 {
		font-size: 25px;
		text-align: center;
	}
	/* seccion MIS SERVICIOS */
	#servicios {
		padding: 50px 15px;
	}
	#servicios .fila {
		display: block;
	}
	#servicios .fila .servicio {
		margin: 10px auto;
	}
	/* seccion HABLIDADES MI */
	.contenedor-skills {
		padding: 50px 20px;
	}
	/* seccion PORTFOLIO */
	#portfolio {
		padding: 50px 0;
	}
	#portfolio .fila {
		display: block;
	}
	#portfolio .fila .proyecto {
		margin: 10px auto;
	}
	/* seccion CONTACTO */
	#contacto {
		padding: 50px 15px;
	}
	#contacto .contenedor-form .mitad {
		margin-bottom: 15px;
		display: block;
	}
	#contacto .contenedor-form .mitad input {
		width: 100%;
		margin-bottom: 15px;
	}
}
